*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Poppins',sans-serif;
}

body{
background:#000000;
color:white;
overflow-x:hidden;
}

/* NAVBAR */

header{
position:fixed;
top:10;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:auto;
background:rgba(0, 0, 0, 0.9);
backdrop-filter:blur(10px);
z-index:1000;
border-bottom:1px solid rgba(255, 0, 0, 0.2);
}

.logo img{
height:100px;
}

nav a{
color:rgb(248, 116, 116);
text-decoration:none;
margin-left:30px;
font-weight:800;
transition:0.3s;
}

nav a:hover{
color:#D4AF37;
}

/* HERO */

.hero{
height:115vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:5px;
background:
linear-gradient(
rgba(0,0,0,0.75),
rgba(0,0,0,0.95)
);
}

.hero-logo{
width:150px;
margin-bottom:15px;
animation:float 3s ease-in-out infinite;
height:auto;
}

.hero h1{
font-family:'Orbitron', sans-serif;
font-size:4rem;
font-weight:700;
letter-spacing:4px;
text-transform:uppercase;
color: #f5c542;
text-shadow:
0 0 10px #000,
0 0 20px #f5c542,
0 0 40px #d4af37;
}

.hero h2{
margin-top:15px;
font-size:1.6rem;
font-weight:300;
}

.hero p{
margin-top:20px;
opacity:0.8;
}

.hero-buttons{
margin-top:35px;
}

.btn{
display:inline-block;
padding:14px 35px;
background:#D4AF37;
color:black;
text-decoration:none;
border-radius:50px;
margin:10px;
font-weight:700;
transition:0.3s;
}

.btn:hover{
transform:translateY(-4px);
box-shadow:0 0 25px #D4AF37;
}

.btn-gold{
background:white;
}

/* SECTION */

section{
padding:120px 10%;
}

.section-title{
text-align:center;
font-size:2.7rem;
margin-bottom:60px;
color:#D4AF37;
}

/* SERVICES */

.services-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
border:1px solid rgba(212,175,55,0.2);
border-radius:20px;
padding:20px;
transition:0.4s;
img {width: 100% hieght 200px object fit cove;};
}
.service-img{
    width:100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px; /*edges curve aagum*/
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px rgba(212,175,55,0.4);
}

.image-placeholder{
height:180px;
background:#4b4a4a;
display:flex;
justify-content:center;
align-items:center;
border-radius:15px;
margin-bottom:15px;
color:#D4AF37;
border:1px dashed #D4AF37;
}

.card h3{
color:#D4AF37 ;
margin-bottom:10px;
letter-spacing: 1px;
}

/* FEATURES */

.features{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.feature{
background:rgba(255,255,255,0.05);
padding:25px;
text-align:center;
border-radius:15px;
font-size:1.1rem;
border:1px solid rgba(212,175,55,0.2);
}

/* ABOUT */

.about-text{
max-width:900px;
margin:auto;
line-height:1.9;
text-align:center;
font-size:1.05rem;
}

/* CONTACT */

.contact-box{
max-width:600px;
margin:auto;
background:rgba(255,255,255,0.05);
padding:35px;
border-radius:20px;
text-align:center;
border:1px solid rgba(212,175,55,0.2);
}

.contact-box p{
margin:15px 0;
font-size:1.1rem;
}

.contact-box a{
color:#D4AF37;
text-decoration:none;
}

/* FOOTER */

footer{
padding:40px;
text-align:center;
background:black;
border-top:1px solid rgba(212,175,55,0.2);
}

footer p{
margin:8px;
}

/* WHATSAPP BUTTON */

.whatsapp-float{
position:fixed;
right:25px;
bottom:25px;
width:65px;
height:65px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
text-decoration:none;
color:white;
box-shadow:0 0 20px rgba(37,211,102,.5);
z-index:999;
}

/* ANIMATION */

@keyframes float{
0%{
transform:translateY(0px);
}
50%{
transform:translateY(-12px);
}
100%{
transform:translateY(0px);
}
}

/* MOBILE */

@media(max-width:768px){

header{
padding:15px 20px;
}

nav{
display:none;
}

.hero h1{
font-size:2.7rem;
}

.hero h2{
font-size:1.2rem;
}

.hero-logo{
width:130px;
}

.section-title{
font-size:2rem;
}
.review-box{
max-width:600px;
margin:auto;
text-align:center;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.05);
border:1px solid rgba(212,175,55,0.2);
}

.review-box h3{
font-size:2rem;
color:#D4AF37;
margin-bottom:10px;
}
}